<h1>Draft playing {{ (draft$ | ngrxPush)?.cube?.name }}</h1>
@if ((draft$ | ngrxPush)?.phase; as phase) {
  <div class="breadcrumb-container">
    <a mat-fab extended routerLink="/tournaments/{{ phase.tournamentId }}">
      <mat-icon>arrow_back</mat-icon>
      Return to Tournament Dashboard
    </a>
  </div>
}
@if (draft$ | ngrxPush; as draft) {
  <mat-card class="draft-options admin">
    <mat-card-header>
      <mat-card-title>Draft setup</mat-card-title>
    </mat-card-header>
    @if (tournamentId()) {
      <mat-card-content>
        <mat-card-actions>
          <button
            mat-stroked-button
            type="button"
            class="regular-button"
            [disabled]="draft.seated"
            (click)="seatDraft()"
            >
            Make Seatings
          </button>
          <button
            mat-stroked-button
            type="button"
            class="regular-button"
            [disabled]="pairingsDisabled()"
            (click)="pairRound()"
            >
            Pair Round
          </button>
          <a
            mat-stroked-button
            type="button"
            class="regular-button"
            [routerLink]="['../create', { draftId: draftId() }]"
            >
            <mat-icon>edit</mat-icon>
            Edit this draft
          </a>
        </mat-card-actions>
        <mat-expansion-panel class="admin-player-list">
          <mat-expansion-panel-header>
            <mat-panel-title>Players</mat-panel-title>
          </mat-expansion-panel-header>
          <ul class="admin-player-list">
            @for (player of draft.players; track player; let i = $index) {
              <li>
                {{ player?.enrollment?.user?.username }}
                <button
                  mat-stroked-button
                  type="button"
                  class="drop-player-button"
                  (click)="dropPlayer(i)"
                  >
                  Drop
                </button>
              </li>
            }
          </ul>
        </mat-expansion-panel>
      </mat-card-content>
    }
  </mat-card>
}
@if (!(matches$ | ngrxPush)?.length) {
  @if ((draft$ | ngrxPush)?.seated) {
    <mat-card class="seatings-card admin">
      <mat-card-header>
        <mat-card-title>Seatings</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <ol class="seatings-list">
          @for (player of (draft$ | ngrxPush)?.players; track player; let i = $index) {
            <li>
              {{ player.enrollment?.user?.username }}
            </li>
          }
        </ol>
      </mat-card-content>
    </mat-card>
  }
}
@if ((matches$ | ngrxPush)?.length) {
  @if (matches$ | ngrxPush; as matches) {
    <mat-card class="matches-card admin">
      <mat-card-header>
        <mat-card-title>Matches</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-accordion class="admin-match-list">
          @for (game of matches; track game; let i = $index) {
            <mat-expansion-panel
              class="admin-match-embed"
              >
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{ game.player1?.enrollment?.user?.username }}
                  vs
                  {{ game.player2?.enrollment?.user?.username }}
                </mat-panel-title>
                <mat-panel-description>
                  @if (
                    game.player1Wins ||
                    game.player2Wins ||
                    game.resultConfirmed ||
                    game.reportedById
                    ) {
                    <div
                      >
                      {{ game.player1Wins }} - {{ game.player2Wins }}
                      @if (game.resultConfirmed) {
                        <span>(result confirmed)</span>
                      }
                    </div>
                  }
                </mat-panel-description>
              </mat-expansion-panel-header>
              <div>
                @if (form) {
                  <form
                    [formGroup]="form"
                    (ngSubmit)="reportResult(game.id)"
                    >
                    <div class="form-input player-wins">
                      <label class="form-label">
                        {{ game.player1?.enrollment?.user?.username }} wins
                      </label>
                      <mat-button-toggle-group
                        formControlName="player1Wins"
                        aria-label="Player 1 wins"
                        exclusive
                        >
                        <mat-button-toggle [value]="0">0</mat-button-toggle>
                        <mat-button-toggle [value]="1">1</mat-button-toggle>
                        <mat-button-toggle [value]="2">2</mat-button-toggle>
                      </mat-button-toggle-group>
                    </div>
                    @if (submitted && f['player1Wins'].errors) {
                      <div
                        class="invalid-feedback"
                        >
                        @if (f['player1Wins'].errors['required']) {
                          <div>
                            Player 1 wins are required
                          </div>
                        }
                      </div>
                    }
                    <div class="form-input player-wins">
                      <label class="form-label">
                        {{ game.player2?.enrollment?.user?.username }} wins
                      </label>
                      <mat-button-toggle-group
                        formControlName="player2Wins"
                        aria-label="Player 2 wins"
                        exclusive
                        >
                        <mat-button-toggle [value]="0">0</mat-button-toggle>
                        <mat-button-toggle [value]="1">1</mat-button-toggle>
                        <mat-button-toggle [value]="2">2</mat-button-toggle>
                      </mat-button-toggle-group>
                    </div>
                    @if (submitted && f['player2Wins'].errors) {
                      <div
                        class="invalid-feedback"
                        >
                        @if (f['player2Wins'].errors['required']) {
                          <div>
                            Player 2 wins are required
                          </div>
                        }
                      </div>
                    }
                    @if (form.hasError('sumExceeded')) {
                      <div
                        class="cross-validation-error-message alert alert-danger"
                        >
                        Total games in match cannot exceed 3
                      </div>
                    }
                    @if (!game.player1Wins) {
                      <div>
                        <button [disabled]="loading" class="btn btn-primary">
                          @if (loading) {
                            <span
                              class="spinner-border spinner-border-sm me-1"
                            ></span>
                          }
                          Report result
                        </button>
                      </div>
                    } @else {
                      <button [disabled]="loading" class="btn btn-primary">
                        @if (loading) {
                          <span
                            class="spinner-border spinner-border-sm me-1"
                          ></span>
                        }
                        Modify result
                      </button>
                    }
                  </form>
                }
              </div>
            </mat-expansion-panel>
          }
        </mat-accordion>
      </mat-card-content>
    </mat-card>
  }
}
