<h1>Cubes</h1>
@if (loading$ | ngrxPush) {
<mat-progress-bar mode="indeterminate"></mat-progress-bar>
} @else { @for (cube of cubes$ | ngrxPush; track cube; let i = $index) {
<mat-card class="cube-list-card" appearance="outlined">
  <mat-card-header>
    <div
      mat-card-avatar
      style="background-image: url({{ cube.imageUrl }}); background-size: cover;"
      alt="Cube Thumbnail"
    ></div>
    <mat-card-title> {{ cube.name }} </mat-card-title>
    <mat-card-subtitle>
      {{ cube.numCards }} card cube @if (cube.creator) {
      <span>by {{ cube.creator.username }}</span>
      }
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="cube-list-content">
    <a class="cube-link-internal" routerLink="/cubes/{{ cube.id }}"
      >View cube</a
    >
  </mat-card-content>
</mat-card>
} @if (isAdmin) {
<button
  matMiniFab
  extended
  routerLink="./create"
  class="button-cube-add"
  matTooltip="Create a cube"
>
  <mat-icon>add</mat-icon>
</button>
} }
