<h1>Cubes</h1>
@if (loading$ | ngrxPush) {
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
} @else {
  <mat-card class="cube-list-card" appearance="outlined">
    <mat-card-content>
      <mat-list class="cube-list">
        @for (cube of cubes$ | ngrxPush; track cube; let i = $index) {
          <mat-list-item
            class="cube-detail-preview"
            >
            <span matListItemTitle>
              <a class="cube-link-internal" routerLink="/cubes/{{ cube.id }}">{{
                cube.name
              }}</a>
            </span>
            <span matListItemLine
              >{{ cube.numCards }} card cube
              @if (cube.creator) {
                <span>by {{ cube.creator.username }}</span>
              }
            </span>
          </mat-list-item>
        }
      </mat-list>
    </mat-card-content>
    @if (isAdmin) {
      <mat-card-actions>
        <a mat-stroked-button class="regular-button" routerLink="./create">
          <mat-icon>add</mat-icon>
          Create a cube
        </a>
      </mat-card-actions>
    }
  </mat-card>
}
