<mat-card class="standings-card" appearance="outlined">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>Tournament Standings</mat-card-title>
      @if (!(standings$ | ngrxPush)) {
        <mat-card-subtitle>
          Waiting for the first round to finish
        </mat-card-subtitle>
        }</mat-card-title-group
        >
      </mat-card-header>
      @if (standings$ | ngrxPush) {
        <mat-card-content>
          <table class="standings-table">
            <thead>
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Pts</th>
                <th>OMW%</th>
                <th>PGW%</th>
                <th>OGW%</th>
              </tr>
            </thead>
            <tbody>
              @for (player of standings$ | ngrxPush; track player; let i = $index) {
                <tr>
                  <td>{{ i + 1 }}</td>
                  <td>{{ player?.username }}</td>
                  <td>{{ player?.points }}</td>
                  <td>{{ player?.omw }}</td>
                  <td>{{ player?.pgw }}</td>
                  <td>{{ player?.ogw }}</td>
                </tr>
              }
            </tbody>
          </table>
        </mat-card-content>
      }
    </mat-card>
