<h1>Available Tournaments</h1>
@if (loading$ | ngrxPush) {
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
} @else {
  @if (!(availableTournaments$ | ngrxPush)?.length) {
    <p>There are currently no tournaments available.</p>
  } @else {
    @for (tournament of availableTournaments$ | ngrxPush; track tournament) {
      <mat-card
        class="event-list"
        appearance="outlined"
        >
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title id="tournament-name">{{
              tournament.name
            }}</mat-card-title>
            @if (tournament.playerCapacity; as cap) {
              <mat-card-subtitle
                >
                Player capacity: {{ cap }}
              </mat-card-subtitle>
            } @else {
              <mat-card-subtitle> League </mat-card-subtitle>
            }
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
          <p>{{ tournament.description }}</p>
          <button
            mat-stroked-button
            [disabled]="loading"
            (click)="onSubmit(tournament.id)"
            >
            Enroll
          </button>
        </mat-card-content>
      </mat-card>
    }
  }
}
