<mat-card class="register-card" appereance="outlined">
  <mat-card-header>
    <mat-card-title>Register</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-field-container">
        <mat-form-field class="form-field-full-width">
          <mat-label>Email</mat-label>
          <input
            matInput
            type="email"
            [formControl]="emailFormControl"
            placeholder="chaos@orb.com"
            class="form-control"
          />
          @if (
            emailFormControl.hasError("email") &&
            !emailFormControl.hasError("required")
          ) {
            <mat-error>Please enter a valid email address</mat-error>
          }
          @if (emailFormControl.hasError("required")) {
            <mat-error>Email is <strong>required</strong></mat-error>
          }
        </mat-form-field>
        <mat-form-field class="form-field-full-width">
          <mat-label>Username</mat-label>
          <input
            matInput
            type="text"
            [formControl]="usernameFormControl"
            placeholder="uncleIstvan99xXx"
            class="form-control"
          />
          @if (
            usernameFormControl.hasError("minlength") &&
            !usernameFormControl.hasError("required")
          ) {
            <mat-error
              >Please choose a username with
              <strong>at least 3 characters</strong></mat-error
            >
          }
          @if (usernameFormControl.hasError("required")) {
            <mat-error>Username is <strong>required</strong></mat-error>
          }
        </mat-form-field>
        <mat-form-field class="form-field-full-width">
          <mat-label>Password</mat-label>
          <input
            matInput
            [type]="hide() ? 'password' : 'text'"
            [formControl]="passwordFormControl"
            [ngClass]="{ 'is-invalid': submitted && f['password'].errors }"
            matTooltip="Please choose a password with at least total 8 characters, 1 lowercase and 1 uppercase character, 1 special character and 1 digit"
            matTooltipPosition="after"
          />
          <button
            mat-icon-button
            matSuffix
            type="button"
            class="show-password-button"
            (click)="clickEvent($event)"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide()"
          >
            <mat-icon>{{ hide() ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
          @if (
            passwordFormControl.hasError("pattern") &&
            !passwordFormControl.hasError("required")
          ) {
            <mat-error
              >Please choose a password with
              <strong
                >at least 1 lowercase, 1 uppercase, 1 special and 8 total
                characters, and at least 1 digit</strong
              ></mat-error
            >
          }
          @if (passwordFormControl.hasError("required")) {
            <mat-error>Password is <strong>required</strong></mat-error>
          }
        </mat-form-field>
      </div>
      <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
        <div *ngIf="f['password'].errors['required']">Password is required</div>
      </div>
      <p *ngIf="errorMessage$ | ngrxPush as msg" class="message-alert-error">
        {{ msg }}
      </p>
      <button mat-stroked-button [disabled]="loading || form.errors">
        Register
      </button>
      <a mat-stroked-button routerLink="../login" class="cancel-button"
        >Cancel</a
      >
    </form>
    <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
  </mat-card-content>
</mat-card>
