@if (user$ | ngrxPush; as user) {
<mat-card class="edit-profile-card" appearance="outlined">
  <mat-card-header>
    <mat-card-title>Edit Profile</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-field-container">
        <mat-form-field class="form-field-full-width">
          <mat-label>Email</mat-label>
          <input
            matInput
            type="email"
            [formControl]="emailControl"
            class="form-control"
          />
        </mat-form-field>
        <mat-form-field class="form-field-full-width">
          <mat-label>Username</mat-label>
          <input
            matInput
            type="text"
            [formControl]="usernameControl"
            class="form-control"
          />
          @if (usernameControl.hasError("required")) {
          <mat-error>Username is <strong>required</strong></mat-error>
          }
        </mat-form-field>
        <mat-form-field class="form-field-full-width">
          <mat-label>Bio</mat-label>
          <textarea
            matInput
            [formControl]="bioControl"
            class="form-control"
            placeholder="I like drafts and old magic cards. You can find me on MTGO 24/7 @uncleIstvan99xXx"
          ></textarea>
        </mat-form-field>
        <button mat-stroked-button [disabled]="loading">
          Update profile information
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
}
