<mat-expansion-panel class="match-panel">
  <mat-expansion-panel-header>
    <mat-panel-title> My Opponent </mat-panel-title>
    <mat-panel-description *ngIf="currentMatch$ | ngrxPush as game">
      {{ game.opponentName | ngrxPush }}
      <ng-container *ngIf="game.tableNumber > 0">
        at Table
        <span class="my-table">{{ game.tableNumber }}</span></ng-container
      >
    </mat-panel-description>
  </mat-expansion-panel-header>

  @defer {
  <div class="match-result-forms">
    <app-report-result-form *ngIf="result() > -1; else resultKnown" />

    <ng-template #resultKnown>
      <p *ngIf="result() === 0; else noDraw">
        It's a {{ (currentMatch$ | ngrxPush)?.player1Wins }}-{{
          (currentMatch$ | ngrxPush)?.player2Wins
        }}
        draw
        <span
          *ngIf="
            (currentMatch$ | ngrxPush)?.resultConfirmed;
            else confirmationOpen
          "
          >(Result confirmed)</span
        >
      </p>
      <ng-template #noDraw>
        <p *ngIf="result() === 1; else p2Win">
          {{ (currentMatch$ | ngrxPush)?.player1?.enrollment?.user?.username }}
          wins
          {{ (currentMatch$ | ngrxPush)?.player1Wins }}-{{
            (currentMatch$ | ngrxPush)?.player2Wins
          }}
          <span
            *ngIf="
              (currentMatch$ | ngrxPush)?.resultConfirmed;
              else confirmationOpen
            "
            >(Result confirmed)</span
          >
        </p>
        <ng-template #p2Win>
          {{ (currentMatch$ | ngrxPush)?.player2?.enrollment?.user?.username }}
          wins
          {{ (currentMatch$ | ngrxPush)?.player2Wins }}-{{
            (currentMatch$ | ngrxPush)?.player1Wins
          }}
          <span
            *ngIf="
              (currentMatch$ | ngrxPush)?.resultConfirmed;
              else confirmationOpen
            "
            >(Result confirmed)</span
          >
        </ng-template>
      </ng-template>
      <ng-template #confirmationOpen>
        <button
          *ngIf="
            (currentMatch$ | ngrxPush)?.reportedById != 1;
            else awaitingConfirmation
          "
          [disabled]="loading"
          (click)="onConfirm()"
          class="btn btn-primary"
        >
          <span
            *ngIf="loading"
            class="spinner-border spinner-border-sm me-1"
          ></span>
          Confirm result
        </button>
        <ng-template #awaitingConfirmation>
          <span>(Awaiting confirmation)</span>
        </ng-template>
      </ng-template>
    </ng-template>
  </div>
  }
</mat-expansion-panel>
