@if (cube$ | ngrxPush; as cube) {
  <mat-card
    class="cube-card"
    appearance="outlined"
    >
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>{{ cube.name }}</mat-card-title>
        @if (cube.shortDescription) {
          <mat-card-subtitle>{{
            cube.shortDescription
          }}</mat-card-subtitle>
        }
      </mat-card-title-group>
    </mat-card-header>
    @defer {
    <img mat-card-image src="{{ cube.imageUrl }}" alt="Cube Thumbnail" />
    <mat-card-content>
      <p>{{ cube.longDescription }}</p>
    </mat-card-content>
    } @loading {
    <mat-spinner mode="indeterminate"></mat-spinner>
    } @placeholder {
    <mat-spinner mode="indeterminate"></mat-spinner>
  }
  <mat-card-footer class="cube-card-footer">
    <mat-chip-set aria-label="Cube facts">
      @if (cube.creator; as creator) {
        <mat-chip>
          <mat-icon
            matChipAvatar
            aria-label="created by"
            class="material-symbols-outlined"
            >
            person
          </mat-icon>
          created by {{ creator.username }}
        </mat-chip>
      }
      @if (cube.numCards; as numCards) {
        <mat-chip>
          <mat-icon
            matChipAvatar
            aria-label="number of cards"
            class="material-symbols-outlined"
            >
            playing_cards
          </mat-icon>
          {{ numCards }} cards
        </mat-chip>
      }
      <mat-chip>
        <mat-icon
          matChipAvatar
          aria-label="view on CubeCobra (external)"
          class="material-symbols-outlined"
          >
          open_in_new
        </mat-icon>
        <a class="cube-link-external" href="{{ cube.cobraUrl }}" target="_blank"
          >View on CubeCobra</a
          >
        </mat-chip>
      </mat-chip-set>
    </mat-card-footer>
  </mat-card>
}
