<h1>All Tournaments</h1>
<ul class="event-list admin">
  <li *ngFor="let tournament of allTournaments$ | ngrxPush; index as i">
    <mat-card class="admin-tournament-card" appearance="outlined">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title class="tournament-name">{{
            tournament.name
          }}</mat-card-title>
          <mat-card-subtitle
            *ngIf="tournament.playerCapacity"
            class="event-capacity"
            >Capacity: {{ tournament.playerCapacity }}</mat-card-subtitle
          >
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content>
        <p event-description>{{ tournament.description }}</p>
        <a routerLink="/tournaments/admin/{{ tournament.id }}"
          >Tournament Dashboard</a
        >
      </mat-card-content>
    </mat-card>
  </li>
  <li *ngIf="!(allTournaments$ | ngrxPush)?.length">
    There are no tournaments.
  </li>
</ul>
