<mat-card class="draft-card" appearance="outlined">
  <mat-card-header>
    @if (draft$ | ngrxPush; as draft) {
    <mat-card-title-group>
      <mat-card-title>
        Draft
        <mat-card-subtitle>
          Playing the
          <a routerLink="/cubes/{{ draft.cube?.id }}" class="card-link"
            >{{ draft.cube?.name }}</a
          >
          cube</mat-card-subtitle
        >
      </mat-card-title>
    </mat-card-title-group>
    }
  </mat-card-header>
  <mat-card-content>
    @if (draft$ | ngrxPush) {
    <app-my-pool [tournamentId]="tournamentId()" />
    <app-match-panel />
    } @else {
    <p class="no-draft">Waiting for a draft to start</p>
    }
  </mat-card-content>
</mat-card>
