<input
  type="file"
  class="file-input"
  accept="image/jpeg"
  (change)="onFileSelected($event)"
  #fileUpload
/>
<button [disabled]="loading" class="btn btn-primary" (click)="onSubmit()">
  <span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span>
  Upload file
</button>
<div *ngIf="imgFile">
  <section class="file-info">
    File details:
    <ul>
      <li>Name: {{ imgFile.name }}</li>
      <li>Type: {{ imgFile.type }}</li>
      <li>Size: {{ imgFile.size }} bytes</li>
    </ul>
  </section>
</div>
