<h1>Tournament Dashboard</h1>
@if (loading$ | ngrxPush) {
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
} @else {
  @if (tournament$ | ngrxPush; as tournament) {
    <h5>{{ tournament.name }}</h5>
  }
  @if (tournament$ | ngrxPush; as tournament) {
    @if (isAdmin) {
      <mat-tab-group animationDuration="0ms">
        <mat-tab label="Player View">
          @if (enrollment$ | ngrxPush; as enrollment) {
            <app-draft-panel [tournamentId]="tournamentId()"></app-draft-panel>
            <app-tournament-standings [tournamentId]="tournament.id">
            </app-tournament-standings>
          }
        </mat-tab>
        <mat-tab label="Admin View">
          <mat-card class="edit-tournament-card admin">
            <mat-card-header>
              <mat-card-title> Tournament Settings </mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <a
                mat-fab
                extended
                routerLink="/tournaments/admin/{{ tournament.id }}/draft/create"
                >
                <mat-icon>add</mat-icon>
                Add a draft
              </a>
            </mat-card-content>
          </mat-card>
          <div class="draft-list admin">
            @for (draft of drafts$ | ngrxPush; track draft; let i = $index) {
              <mat-card
                class="draft-preview-card admin"
                >
                <mat-card-header>
                  <mat-card-title>
                    Draft
                    <mat-card-subtitle>
                      Playing the
                      <a
                        routerLink="/cubes/{{ draft.cube?.id }}"
                        class="card-link"
                        >{{ draft.cube?.name }}</a
                        >
                        cube</mat-card-subtitle
                        >
                      </mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                      <mat-expansion-panel class="admin-player-list">
                        <mat-expansion-panel-header>
                          <mat-panel-title>Players</mat-panel-title>
                        </mat-expansion-panel-header>
                        <mat-list class="admin-player-list" role="list">
                          @for (player of draft?.players; track player; let i = $index) {
                            <mat-list-item
                              >
                              {{ player.enrollment?.user?.username }}
                            </mat-list-item>
                          }
                        </mat-list>
                      </mat-expansion-panel>
                      <a
                  routerLink="/tournaments/admin/{{ tournament.id }}/draft/{{
                    draft.id
                  }}"
                        class="dashboard-link"
                        >Draft Dashboard
                      </a>
                    </mat-card-content>
                  </mat-card>
                }
              </div>
            </mat-tab>
          </mat-tab-group>
        } @else {
          @if (enrollment$ | ngrxPush; as enrollment) {
            <app-draft-panel [tournamentId]="tournamentId()"></app-draft-panel>
            <app-tournament-standings [tournamentId]="tournament.id">
            </app-tournament-standings>
          }
        }
      }
    }
