<h1>My Tournaments</h1>
@if (loading$ | ngrxPush) {
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
} @else {
  @if ((tournaments$ | ngrxPush)?.length === 0) {
    <p>
      You are not yet registered for any tournaments.
    </p>
  } @else {
    @for (tournament of tournaments$ | ngrxPush; track tournament) {
      <mat-card
        class="event-list"
        appearance="outlined"
        >
        <mat-card-header>
          <mat-card-title id="tournament-name">{{
            tournament.name
          }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          @if (tournament.isLeague) {
            <a
              routerLink="/tournaments/league/{{ tournament!.id }}"
              >Go to league dashboard
            </a>
          } @else {
            <a routerLink="/tournaments/{{ tournament.id }}"
              >Go to tournament dashboard
            </a>
          }
        </mat-card-content>
      </mat-card>
    }
  }
}
