<h1 class="my-tournaments">My Tournaments</h1>
<mat-card
  *ngFor="let tournament of enrolledTournaments$ | ngrxPush"
  class="event-list"
  appearance="outlined"
>
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title id="tournament-name">{{
        tournament.name
      }}</mat-card-title>
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>
    <a
      routerLink="/tournaments/league/{{ tournament.id }}"
      *ngIf="tournament.isLeague; else noLeague"
      >Go to league dashboard
    </a>
    <ng-template #noLeague>
      <a routerLink="/tournaments/{{ tournament.id }}"
        >Go to tournament dashboard
      </a>
    </ng-template>
  </mat-card-content>
  <mat-card *ngIf="!(enrolledTournaments$ | ngrxPush)?.length"
    ><mat-card-content
      >You are not enrolled in any tournaments.</mat-card-content
    ></mat-card
  >
</mat-card>
