<h1 class="event-name">{{ (tournament$ | ngrxPush)?.name }}</h1>
<h4>Admin Tournament Dashboard</h4>
<div class="draft-list admin">
  <mat-card
    class="draft-preview-card admin"
    *ngFor="let draft of drafts$ | ngrxPush; index as i"
  >
    <mat-card-header>
      <mat-card-title>
        Draft playing
        <span
          ><a routerLink="/cubes/{{ draft.cube?.id }}">{{
            draft.cube?.name
          }}</a></span
        >
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-expansion-panel class="admin-player-list">
        <mat-expansion-panel-header>
          <mat-panel-title>Players</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list class="admin-player-list" role="list">
          <mat-list-item *ngFor="let player of draft?.players; index as i">
            {{ player.enrollment?.user?.username }}
          </mat-list-item>
        </mat-list>
      </mat-expansion-panel>
      <a
        routerLink="/tournaments/admin/draft/{{ draft.id }}"
        class="dashboard-link"
        >Draft Dashboard
      </a>
    </mat-card-content>
  </mat-card>
</div>
