<mat-card class="draft-card admin">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>
        Draft playing {{ (draft$ | ngrxPush)?.cube?.name }}
      </mat-card-title>
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>
    <div *ngIf="(draft$ | ngrxPush)?.seated; else notSeated">
      <div *ngIf="!(matches$ | ngrxPush)?.length">
        <h5 class="card-subtitle mb-2">Seatings:</h5>
        <ol class="seatings-list">
          <li *ngFor="let player of (draft$ | ngrxPush)?.players; index as i">
            {{ player.enrollment?.user?.username }}
          </li>
        </ol>
      </div>
    </div>
    <div *ngIf="(matches$ | ngrxPush)?.length; else noMatches">
      <h5 class="card-subtitle mb-2">Matches:</h5>
      <mat-accordion class="admin-match-list">
        <mat-expansion-panel
          *ngFor="let game of matches$ | ngrxPush; index as i"
          class="admin-match-embed"
        >
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ game.player1?.enrollment?.user?.username }}
              vs
              {{ game.player2?.enrollment?.user?.username }}
            </mat-panel-title>
            <mat-panel-description>
              <div *ngIf="game.player1Wins">
                {{ game.player1Wins }} - {{ game.player2Wins }}
                <span *ngIf="game.resultConfirmed">(result confirmed)</span>
              </div>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div>
            <form
              [formGroup]="form"
              *ngIf="form"
              (ngSubmit)="reportResult(game.id)"
            >
              <div class="form-input player-wins">
                <label class="form-label">
                  {{ game.player1?.enrollment?.user?.username }} wins
                </label>
                <mat-button-toggle-group
                  formControlName="player1Wins"
                  aria-label="Player 1 wins"
                  exclusive
                  appearance="legacy"
                >
                  <mat-button-toggle [value]="0">0</mat-button-toggle>
                  <mat-button-toggle [value]="1">1</mat-button-toggle>
                  <mat-button-toggle [value]="2">2</mat-button-toggle>
                </mat-button-toggle-group>
              </div>
              <div
                *ngIf="submitted && f['player1Wins'].errors"
                class="invalid-feedback"
              >
                <div *ngIf="f['player1Wins'].errors['required']">
                  Player 1 wins are required
                </div>
              </div>
              <div class="form-input player-wins">
                <label class="form-label">
                  {{ game.player2?.enrollment?.user?.username }} wins
                </label>
                <mat-button-toggle-group
                  formControlName="player2Wins"
                  aria-label="Player 2 wins"
                  exclusive
                  appearance="legacy"
                >
                  <mat-button-toggle [value]="0">0</mat-button-toggle>
                  <mat-button-toggle [value]="1">1</mat-button-toggle>
                  <mat-button-toggle [value]="2">2</mat-button-toggle>
                </mat-button-toggle-group>
              </div>
              <div
                *ngIf="submitted && f['player2Wins'].errors"
                class="invalid-feedback"
              >
                <div *ngIf="f['player2Wins'].errors['required']">
                  Player 2 wins are required
                </div>
              </div>
              <div
                *ngIf="form.hasError('sumExceeded')"
                class="cross-validation-error-message alert alert-danger"
              >
                Total games in match cannot exceed 3
              </div>
              <div *ngIf="!game.player1Wins; else modifyResult">
                <button [disabled]="loading" class="btn btn-primary">
                  <span
                    *ngIf="loading"
                    class="spinner-border spinner-border-sm me-1"
                  ></span>
                  Report result
                </button>
              </div>
              <ng-template #modifyResult>
                <button [disabled]="loading" class="btn btn-primary">
                  <span
                    *ngIf="loading"
                    class="spinner-border spinner-border-sm me-1"
                  ></span>
                  Modify result
                </button>
              </ng-template>
            </form>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <ng-template #noMatches>
      <div>
        <button class="btn btn-primary" (click)="pairRound()">
          Pair Round
        </button>
      </div>
    </ng-template>
    <ng-template #notSeated>
      <h5 class="card-subtitle mb-2">Players:</h5>
      <ul class="player-list">
        <li *ngFor="let player of (draft$ | ngrxPush)?.players; index as i">
          {{ player?.enrollment?.user?.username
          }}<span *ngIf="!(i == ((draft$ | ngrxPush)?.players)!.length - 1)"
            >,
          </span>
        </li>
      </ul>
      <div *ngIf="!(matches$ | ngrxPush)?.length">
        <button class="btn btn-primary" (click)="seatDraft()">
          Make Seatings
        </button>
      </div>
    </ng-template>
  </mat-card-content>
</mat-card>
